#cabecalho {
    background-color: rgb(255, 255, 255);
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 75px;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
}

#navMenu {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 80%;
    align-items: center;
    gap: 75px;
    justify-content: center;
}

#navMenu a {
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    padding-bottom: 1px;
    transition: all 0.3s ease;
}

#navMenu a:hover {
    color: #055214;
}


#navMenu a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #055214;
    transition: width 0.3s ease-in;
}

#navMenu a:hover::after {
    width: 100%;
}


#active {
    color: #055214 !important;
}

#navMenu a#active::after {
    background-color: #055214;
    width: 100%;
}

#logo {
    height: auto;
    margin: 4px 0 0 10px;
}

#logo a img {
    width: 80px;
    height: 50px;
    transition: transform 0.5s ease;
}

#logo a img:hover {
    transform: scale(1.1);
}

#usuario {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

#usuario a {
    align-items: center;
    display: flex;
    transition: transform 0.5s ease;
}

#usuario a img {
    width: 35px;
    height: auto;
}

#usuario a:hover {
    transform: scale(1.1);
}

#icon {
    display: none;
}

@media all and (max-width:1300px) {
    #navMenu {
        gap: 30px;
    }
}

@media all and (max-width:1000px) {
    #cabecalho {
        gap: 20px;
    }
    #navMenu {
        display: none;
    }

    #icon {
        margin: 0 0 10px 10px;
        font-size: 20px;
        display: block;
        color: black;
    }

    #logo {
        width: auto;
        display: flex;
        justify-content: center;
    }

    #logo a img {
        width: 60px;
        height: 35px;
    }

    #usuario {
        justify-content: flex-end;
    }
    #usuario a img {
        width: 25px;
    }
}